language: julia
os:
    - linux
julia:
    - 0.7
    - 1.0
notifications:
    email: false
after_success:
    - julia -e 'cd(Pkg.dir("TextAnalysis")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';
