@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Proza+Libre|Source+Code+Pro');

pre, code {
  font-family: 'Source Code Pro', monospace !important;
  font-size: 0.95em;
}

code {
    font-weight: bold;
}

pre {
    background: inherit;
    background: #f1f1f1;
    border: none;
    padding: 0;
}

body {
    font-family: font-family: 'Proza Libre', sans-serif;
    font-size: 15px;
    color: #444;
}


li > p {
    margin: 0;
}
li {
    margin: 0.5em 0;
}
a {
    color: #3B8686;
}

a:visited {
    color: #337ab7;
}

a:hover {
    border-bottom: 2px solid #fff000;
}

#version-selector {
    display: none;
}
#search-query {
    border-radius: 8px;
    border: none;
    background: #f8f8f8;
    height: 32px;
}
#search-query::placeholder {
    color: #777;
}
nav.toc ul a.toctext {
    font-size: 16px;
    padding-left: 24px;
    color: #555;
}
nav.toc ul a.toctext:hover {
    border-bottom: 2px #337ab7;
    /*background: #337ab7;*/
}
nav.toc input {
    margin: 1em auto;
}

nav.toc {
    margin-left: 0;
    width: 200px;
    background: #EEE;
    box-shadow: none;
    font-family: 'Cormorant Garamond', serif;
    color: #fff;
}
.admonition-title {
    font-family: 'Cormorant Garamond', serif;
}


#docs header {
    display: none;
}

#docs {
    margin-left: 232px;
}

nav.toc li.current > .toctext {
    color: #555;
    border: none;
    background: none;
    border-bottom: 1px solid #337ab7;
}
nav.toc li.current:hover > .toctext {
    border-bottom: 1px solid #337ab7;
}
nav.toc ul.internal {
    background: #EEE;
    box-shadow: none;
}
nav.toc ul.internal a.toctext {
    color: #555;
    padding-left: 36px;
    font-size: 0.9em;
}
h1,h2,h3{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    color: #337ab7;
    padding: 0;
}
p strong {
    color: #EEE;
}
h1 {
    font-weight: bold;
}
h2 {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    border-bottom: none;
}
h2 a {
    color: #337ab7;
}
.toc h1 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -1.3px;
    font-family: 'Cormorant Garamond', serif;
}
h2 a.nav-anchor, h2 a.nav-anchor:visited {
    color: #337ab7;
}

p {
    line-height: 1.66em;
}

article section.docstring {
    padding: 0;
    border: none;
}

.docstring-binding code {
    background: none;
    font-size: 1.1em;
    padding: 0;
    color: #337ab7;
}

article section.docstring {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #777;
}

footer {
    border-top:none;
}

img[alt=mc-block] { width: 75px; }
